//*----------> html

html {
    font-size: 16px;
    box-sizing: border-box;
}

//*----------> All Elements

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

//*----------> Body

body {
    overflow-x: hidden;
}

//*----------> Link

a {
    text-decoration: none;
}

//*----------> Unordered List

ul {
    list-style-type: none;
}

//*--------------------> Flex Styles

.flex {
    display: flex;

    &-jc-ctr {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-ctr {
        align-items: center;
    }

    &-fd-col {
        flex-direction: column;
    }
}

//*--------------------> Grid Styles

.grid {
    display: grid;

    &-jc-ctr {
        justify-content: center;
    }

    &-pi-ctr {
        place-items: center;
    }
}

//*--------------------> mediaQuroes 

//*----------> smartWatch

// @media screen and (max-width: 270px)

//*----------> smallMobile

// @media screen and (min-width: 271px) and (max-width: 360px)

//*----------> largeMobile

// @media screen and (min-width: 361px) and (max-width: 767px)

//*----------> Tablets 

// @media screen and (min-width: 768px) and (max-width:1023px)

//*----------> Desktop

// @media screen and (min-width: 1024px) and (max-width:1280px)

//*----------> Largedesktop

// @media screen and (min-width:1280px)